<html>

<head>
    <title>
        This is my home pgae
    </title>
</head>

<body>
    <h1>TODO APP</h1>



    <div>
        <table>
            <div>
                <tr>
                    <div>
                        <h3>Discription </h3>
                        <form action="">
                            <input type="text" name="input" placeholder="Enter your task" required>
                        </form>
                    </div>
                </tr>
                <tr>
                    <td>
                        <div>
                            <!-- <h3>Category</h3> -->
                            <label for="category"><h3>Category</h3></label>
                            <div>
                                <select id="cat" name="category">
                                    <option value="choose">Choose a category </option>
                                    <option value="personal">Personal</option>
                                    <option value="school">School</option>
                                    <option value="home">Home</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div>
                            <h3>Due Date</h3>
                            <input type="date" name="time" placeholder="enter time" required>
                        </div>
                    </td>
                </tr>
            </div>
        </table>
    </div>



</body>


</html>